*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f5f5f5;
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    line-height: 1.5;
}
#navigation{
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    width: 99%;
    box-shadow: 0 2px rgba(0,0,0,0.1);
    margin-left: 7px;
    border-radius: 12px;
}
#navigation:hover .logo{
    display:inline;
}
nav{
    display: flex;
    justify-content: space-around;
    margin: 10px;
    gap: 35px;
}
.logo{
    padding: 15px;
    color:aqua;
    display: none;
}

nav a{
    text-decoration: none;
    list-style: none;
    color: #333;
    font-weight: 600;
    margin-top: 10px;
    font-size: 14px;
    padding: 4px 7px;
    border-radius: 4px;
    height: 23px;
}
@media (max-width: 768px){
    nav{
    display: flex;
    justify-content: space-around;
    margin: 10px;
    gap: 35px;
    width: 50%;
}
}