*{
    margin: 0;
    padding: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
     background: linear-gradient( 35deg, rgb(87, 41, 237) 20%, rgb(2, 1, 7) 80%);
     width: 100%;
     height: 100vh;
}
#the-box{
    height: 83vh;
    width: 60%;
    background: #cdcdfc;
    margin-top: 60px;
    margin-left: 250px;
    border-radius: 15px;
    display: flex;
}
.contain-left{
    width: 50%;
    border-radius: 15px;
    
}
.contain-right{
    max-width: 50%;
}
.img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
   
}
h1{
    font-size: 35px;
    letter-spacing: 1.7px;
    text-shadow: 2px 2px 3px rgb(2, 1, 7);
    
}
.text{
    color: white;
    position: absolute;
    top: 230px;
    text-align: left;
    left: 330px;
    letter-spacing: 1.3px;
}
.H{
    margin: 40px;
    margin-top: 30px;
    margin-bottom: 0;
    color: black;
    text-align: center;
    letter-spacing: 3px;
      text-shadow: 2px 2px 3px rgba(2, 1, 7, 0.192);
}
.put{
    width: 230px;
    height: 20px;
    margin-top: 20px;
    margin-left: 75px;
    margin-bottom: 10px;
    align-items: center;
    background-color: rgba(235, 235, 244, 0.779);
    border-radius: 5px;
    border: none;
    padding: 4px;
    box-shadow: 3px 3px 3px 3px rgba(2, 1, 7, 0.065);
}
.flex{
    display: flex;
    margin-bottom: 15px;

}
.p{
    color: rgba(68, 68, 68, 0.653);
    font-size: 12px;
    padding: 4px;
}
.in{
    margin-left: 75px;
    border: none;
    
}
.btn{
    width: 240px;
    height: 30px;
    background-color: black;
    color: white;
    margin-left: 75px;
    border: none;
    border-radius: 5px;
    font-size: 10px;
    font-weight: 600;
    box-shadow: 3px 3px 3px 3px rgba(2, 1, 7, 0.173);
    cursor: pointer;
}
.or{
    margin: 20px;
    margin-left: 185px;
    margin-bottom: 8px;
    color: rgba(68, 68, 68, 0.941);
    font-size: 13px;
    padding: 4px;
}
.btn2{
    width: 240px;
    height: 30px;
    background-color: #cdcdfc;
    color: black;
    margin-left: 75px;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 600;
    box-shadow: 3px 3px 3px 3px rgba(2, 1, 7, 0.173);
    cursor: pointer;
}
.btn3{
    width: 240px;
    height: 30px;
    background-color: black;
    color: white;
    margin-top: 15px;
    margin-left: 75px;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 600;
    box-shadow: 3px 3px 3px 3px rgba(2, 1, 7, 0.173);
    cursor: pointer;
}
.divider{
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}
.divider::before, .divider::after{
    
}