*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}
body{
  
 background-color: rgba(8, 222, 8, 0.724);
}
#parent{
       background-image: url(IMG-20250628-WA0090.jpg);
    background-repeat: none;
    background-position:center;
    border-radius: 15px;
    margin-top: 12px;
    height: 95vh;
    width: 213vh;
    margin-left: 15px;
}