*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
:root{
    --primary-color: #333;
    --background-color: #f2f2f2;
    --secondary-color: seagreen;
    --font: 400;
    --line-height: 1.5;
    --header-color: #fefcfc;
    --header-box-shadow: 3px 3px 4px rgba(0,0,0,0.2);

}
.logo{
    width: 200px;
    height: 40px;
    
    
}
.in-logo{
padding-top: 0;
    margin-top: 0;
    width: 130px;
    height: 35px;
}
body{
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--primary-color);
    line-height: var(--line-height);
    font-weight: var(--font)

}
header{
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: var(--header-color);
     box-shadow: var(--header-box-shadow);
      height: 60px;
      position: fixed;
      z-index: 3;
      margin: none;
      top: 0;
}
nav{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
   

}
 nav .navlinks{
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    font-size: 1.1rem;
    
   
}
nav .navlinks a{
    text-decoration: none;
    color: rgb(26, 26, 95);
    font-weight:600;
    font-size: 15px;
     padding: 5px 10px;
     letter-spacing: 0.8px;
     border-radius: 6px;
     transition: 0.6s;
     
}
.hom{
     box-shadow: 3px 3px 5px rgb(26, 26, 95);
    border-radius: 6px;
}
a:hover{
    
    box-shadow: 3px 3px 5px rgb(26, 26, 95);
    border-radius: 6px;
}
.bar{
    display: none;
}
.en{
    padding: 5px 10px;
    background-color: var(--secondary-color);
    border-radius: 6px;
    color: var(--header-color);
     box-shadow: var(--header-box-shadow);
}
#hero-section{
    display: flex;
    margin-top: 155px;
    justify-content: center;
    width: 80%;
    height: 65vh;
    margin-left: 120px;
   
    background-color: rgba(233, 222, 224, 0.482);
}
h1{
    padding: 10px;
    font-size: 40px;
    color:rgba(53, 52, 53, 0.845);
    letter-spacing: 1.5;
    margin-left: 17px ;
}
.p{
     padding: 10px;
    font-size: 22px;
    color:rgba(53, 52, 53, 0.845);
    margin-left: 15px;
    letter-spacing: 0.1rem;
}
.text-area{
    width: 50%;
    padding: 20px
}
.img-area{
    width: 50%;
    
    margin: 0;
    padding: 0;
}
.in-img{
    height: 65vh;
    width: 100%;
}
.LM{
    color: var(--header-color);
    background-color: var(--primary-color);
    padding: 8px 15px;
    border-radius: 8px;
    border: none;
    margin-left: 20px;
    font-size: 18px;
    margin-top: 25px;
}
@media (max-width: 900px){
     nav .navlinks{
    display: none;
    text-decoration: none;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    font-size: 1.1rem;
   
}
header{
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: var(--header-color);
     box-shadow: var(--header-box-shadow);
      height: 60px;
      padding: 0;
}
 .bar{
    display: block;
    font-size: 1.5rem;
    width: 30px;
    height: 30px;
 }
}
.courses{
    position: relative;
    display: inline;
    transition: 0.4s;
}
.courses:hover .drop-down{
    display: inline-block;
}



#intro-why{
    align-items: center;
    max-height: 100px;
    margin-top: 100px;
}
.head{
    font-size: 40px;
    color: black;
    margin: 0;
    padding: 0;
    text-align: center;

}
.down-img{
    align-items: center;
    margin: 0;
    padding: 0;
    width: 180px;
    margin-left: 530px;
}
#reason{
    width: 85%;
    height: 400px;
    margin-left: 100px;
    padding: 20px;
    background-color: rgba(240, 229, 224, 1);
    display: flex;
    gap: 5px;
    z-index: 2;
    position: absolute;
    top:740px;
}
.rea1 h2, .rea2 h2, .rea3 h2, .rea4 h2{
    text-align: left;
    font-size: 25px;
    color: black;
    margin-left: 20px;
}
.rea1, .rea2, .rea3, .rea4{
    width: 25%;
    align-items: center;
}
.rea1 p, .rea2 p, .rea3 p, .rea4 p{
    font-size: 15px;
    color: black;
    
}
.rea-img{
    width: 38px;
    height: 30px;
    align-items: center;
    margin: 10px;
    margin-left: 20px;
    margin-top: 20px;
}
.back-rea{
    position: relative;
    z-index: 1;
    top: 186px;
    left: 88px;
}
.back-rea2{
    position: relative;
    z-index: 1;
    top: 5px;
    left: 643px;
}
#apply{
    margin-top: 400px;
    width: 90%;
    background-color: rgba(13, 10, 57, 0.865);
    margin-left: 70px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 7px rgba(0,0,0,0.2);
}
.BA{
    font-size: 40px;
    color: #a1a775;
    font-family: fantasy;
    letter-spacing: 0.2rem;
    text-align: center;
    text-decoration: solid;
    text-shadow: var(--header-box-shadow);
    margin-top: 30px;
}
.the-p{
    color: gray;
    border: 1.5px solid #a1a775;
    width: 70%;
    margin-top: 20px;
    margin-left: 155px;
    padding: 5px;
    font-size: 14px;
    border-radius: 10px;
}
.Btn{
    padding: 9px 15px;
    border-radius: 12px;
    background-color: rgb(15, 162, 35);
    text-align: center;
    border: none;
    font-size: 20px;
    color: white;
    margin-top: 60px;
    margin-left: 470px; 
    box-shadow: 5px 5px 7px rgba(0,0,0,0.2);
}
.hep{
    font-size: 35px;
    font-weight: 100;
    color: rgb(18, 18, 132);
    text-align: center;
    margin-top: 180px;
}
.hep2{
    font-size: 30px;
    font-weight: 600;
    color: black;
    text-align: center;
    margin-top: 80px;
}

.row1{
    display: flex;
    width: 100%;
    gap: 20px;
    padding: 15px;
    align-items: center;
    justify-content: center;
}
.r-con1, .r-con2, .r-con3{
    width: 30%;
    border: 1.2px solid rgb(0, 157, 255);
    background-color: rgba(207, 211, 225, 0.5);
    border-radius: 12px;
    padding: 20px;
    height: 150px;
    box-shadow: 4px 4px 6px rgba(0,0,0,0.2);
    
}
.ep-img{
    margin-left: 150px;
    border-radius: 6px;
    height: 30px;
}
.p1{
    font-size: 20px;
    text-align: center;
    color: rgba(9, 9, 75, 0.904);
    padding: 15px;
}
.p2{
    font-size: 15px;
    text-align: center;
       color: rgba(9, 9, 69, 0.953);
       
}
.in-p2{
    font-weight: 800;
}
.upcome{
    display: flex;
    justify-content: center;
}
.up1, .up2, .up3{
    margin: 30px;
    border: 1.6px solid #a1a775;
    width: 250px;
    height: 150px;
    border-radius: 12px;
    box-shadow: 4px 4px 6px rgba(0,0,0,0.2);
}
.h3{
    width: 250px;
    margin: 0;
    height: 40px;
    border: 1.6px solid #a1a775;
    border-top:none;
    border-left: none;
    border-right: none;
    text-align: center;
    color: #414328;
    padding-top: 8px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}
.begin{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 10px;
    color:#414328;
    font-size: 14px;
}
.sel{
    margin-left: 90px;
    padding: 6px 15px;
    border: none;
    background-color: #a1a775;
    border-radius: 10px;
    font-size: 16px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
}
.AF{
    display: flex;
    gap: 10px;
    width: 90%;
    height: 320px;
    margin-left: 65px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 4px 4px 6px rgba(0,0,0,0.2);
    margin-top: 40px;

}
.rai{
    font-size: 30px;
    color: #414328;
    padding: 30px;
}
.wel{
 font-size: 15px;
    color: #414328;
    padding: 30px;
    padding-left: 40px;
    padding-top: 0px; 
    padding-bottom: 20px;
}
.tex{
    width: 50%;
}
.im{
    width: 50%;
}
.desk-img{
    width: 100%;
    height: 100%;
    border-radius: 12px;

}
.LM2{
    color: var(--header-color);
    background-color: var(--primary-color);
    padding: 8px 15px;
    border-radius: 8px;
    border: none;
    margin-left: 35px;
    font-size: 18px;
}
#footer{
    display: flex;
    justify-content: space-around;
    gap:10px;
    padding-top:50px;
    background-color: rgb(193, 196, 210);
}
.f1, .f2, .f3, .f4{
    width: 20%;
    height: 100%;

}
ol{
     list-style: none;
}
ol a {
   
    list-style: none;
    color: black;
    text-decoration: none;
     font-size: 14px;

}
ol a li{
    padding: 6px;
   font-size: 14px;
   color: #414328;
}
.f-head{
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    padding:20px 10px;

}
.f-head1{
      text-align: left;
    font-size: 20px;
    font-weight: 600;
    padding:10px 0px;

}
.cont-pac{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.f-logo{
    padding: 10px 20px;
}
.p-pac{
    font-size:15px;
    color: rgba(42, 38, 94, 0.865);
    text-align: center;
    padding: 15px;
}
.pac-img{
    width: 100px;
    height: 80px;
    border-radius: 250px;
}
.pac1, .pac2, .pac3{
    background-color: rgb(13, 13, 72);
    width: 250px;
    height: 350px;
    color: white;
    text-align: center;
    padding: 30px;
    z-index: 1;
    margin-bottom: 100px;
    box-shadow: 4px 4px 6px #ffffff56;
    border-radius: 6px;
}
.d-div{
    background-color: rgb(2, 2, 66);
    width: 70%;
    height: 20rem;
    z-index: 0;
    position: absolute;
    top: 238rem;
    margin-left: 190px;
    box-shadow: 4px 4px 6px  rgb(2, 2, 66);
    border-radius: 6px;

}
.pac-h{
    font-size: 20px;
    padding: 15px 7px;
}
.pac-p{
     font-size: 14px;
     color: rgb(199, 199, 224);
     margin-bottom: 25px;
}
.btn-v{
    padding: 8px 75px;
    border: 1.4px solid rgb(199, 199, 224);
    
}
.what-h{
    font-size: 35px;
    font-weight: 100;
    color: rgb(18, 18, 132);
    text-align: center;
    margin-top: 180px;
}
.sliders{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    gap: 30px;

}
.slide1, .slide2, .slide3, .slide4, .slide5{
    width: 27%;
    height: 350px;
    box-shadow: 1px 2px 2px 5px rgba(46, 8, 112, 0.25);
    padding: 20px;
    border-radius: 12px;
}
.slide-txt{
    color: rgb(17, 7, 66);
    font-size: 15px;
    text-align: center;
}
.name-p{
    font-size:20px;
    text-align: center;
    padding: 17px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.965);
    
}
.slide-img{
    width: 60%;
    align-items: center;
    margin-left: 40px;
    height: 100px;
    border-radius: 250px;

}